.footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #30c9a6;
  color: #fff;
}

.navbar {
  background-color: #30c9a6;
  margin-bottom: 3em;
}

.doctors-list ul {
  list-style-type: none;
  -moz-column-count: 2;
  -moz-column-gap: 2.5em;
  -webkit-column-count: 2;
  -webkit-column-gap: 2.5em;
  column-count: 2;
  column-gap: 2.5em;
}

.doctors-list {
  margin-bottom: 3em;
}

.doctors-list a {
  color: #000;
}

.doctors-list a:hover {
  text-decoration: none;
  color: gray;
}

.content {
  flex: 1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper a.nav-link {
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8) !important;
}

.wrapper a.nav-link:hover {
  color: rgba(255, 255, 255, 1) !important;
}

a.navbar-brand {
  font-weight: 900;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

.back-link {
  cursor: pointer;
}

.back-link:hover {
  text-decoration: underline;
}
/***********************************************
*****************   LOGIN   ********************
***********************************************/

.login-form {
  margin-bottom: 30px;
}

.login {
  max-width: 400px;
  margin: 100px auto;
}

.submit-btn {
  cursor: pointer;
}
input:focus ~ .input-icon {
  opacity: 1;
}

.input-icon {
  float: right;
  margin-right: 10px;
  margin-top: -30px;
  position: relative;
  z-index: 2;
  color: black;
  opacity: 0.6;
}

/***********************************************
**************  REGISTRATION   *****************
***********************************************/

.registration {
  max-width: 700px;
  margin: 100px auto;
}

.col-form-legend {
  font-size: 25px;
}

input.form-control {
  margin-bottom: 5px;
}

.form-error {
  color: #d9534f;
}

input.is-invalid-input, textarea.is-invalid-input {
  border-color: #d9534f;
  background-color: #fff3ff;
}
